
  body{
    background-color: #D3E4CD;
  }
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  h1 {
    color:Black ;
  }
  h2 {
    color:#66bfbf ;
  }
     {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: blue;
   color: black;

}
